<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/teacher.css', _external=True) }}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: white">
        <img class="mb-4" src="{{ url_for('static', filename='images/H.png', _external=True) }}" alt="" style="width:200px; height:auto;" href='#'>
        <h5 class="mb-4">Hello {{ studentname }}! </h5>
    </nav>


    {% for i in range(n) %}
    <div class="card" style="padding-left: 70px;">
      <div class="card-body">
        <h5 class="card-title">{{ class_list['class_name'][i]['class'] }} </h5>
        <p class="card-text">Attendance Percentage: {{ class_list['attendance'][i]|round }}%</p>
        <p class="card-text">Class Section: {{ class_list['class_section'][i]['class_section'] }} </p>
        <p class="card-text"> <small class="text-muted">
            <br>
            <button class="btn btn-primary" type="submit">Submit Attendance</button>

          </div></small></p>
          <br>
      </div>
    </div>
  {% endfor %}
</body>
</html>