{% extends "bootstrap/base.html" %}
{% block title %} Login {% endblock %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css', _external=True) }}">

<body class="text-center">
    <form class="form-signin">
      <img class="mb-4" src="{{ url_for('static', filename='images/logo.png', _external=True) }}" alt="" style="width:150px; height:auto;">
      <h1 class="h3 mb-3 font-weight-normal">Sign in</h1>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit" href="student.html">Sign in</button>
    </form>
  </body>

  {% endblock %}